---
import Voronoi from '../components/Voronoi.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main class="w-full flex flex-col bg-slate-800 text-white min-h-screen">
		<Voronoi />
	</main>
</Layout>

